div {
    margin: 10x ;
    padding: 5px;
    background-color: rgb(145, 108, 108);
    border: 4px solid rgb(194, 180, 180); 
    border-radius: 5%;
  }
  li {
    float: center;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }