#something{
    color: blue;
   
  }
  #something2{
    color: red;

  }

  #something3{
    color: pink;
  }
  li {
    float: center;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: navajowhite;
  }

  div {
    margin: 20px ;
    padding: 100px;
    background-color: rgb(203, 179, 179);
    border: 4px solid grey; 
    border-radius: 5%;
  }